.cards__item {
  width: 240px;
  padding-top: 60px;
}

.cards__item:nth-child(2) {
  padding-right: 100px;
  padding-left: 100px;
}

.cards__item:nth-child(5) {
  padding-right: 100px;
  padding-left: 100px;
}